<!--<div class="container">
    <h1>Vista Usuario</h1>

    <button routerLink="/consultarrutinas" class="btn btn-primary" (click)="consultarRutinas()" >Consultar Rutinas</button>
    <button routerLink="/consultarclases" class="btn btn-primary" (click)="consultarClases()" >Consultar Clases</button>
    <button routerLink="/login" class="btn btn-primary" (click)="cerrarSesion()" >Cerrar Sesión</button>
  </div>-->

  <div class="container">
    <h1>Vista Administrador</h1>
  
    <button routerLink="/modificacionusuario" class="btn btn-primary">Modificar Usuarios</button>
    <button routerLink="/Lugares" class="btn btn-primary">Lugares</button>
    <button routerLink="/login" class="btn btn-primary">Cerrar Sesión</button>
  </div>
  