<!--<div class="container">
    <h1>Vista Usuario</h1>

    <button routerLink="/consultarrutinas" class="btn btn-primary" (click)="consultarRutinas()" >Consultar Rutinas</button>
    <button routerLink="/consultarclases" class="btn btn-primary" (click)="consultarClases()" >Consultar Clases</button>
    <button routerLink="/login" class="btn btn-primary" (click)="cerrarSesion()" >Cerrar Sesión</button>
  </div>-->

  <div class="container">
  <h1>Vista Usuario</h1>

  <button routerLink="/consultarutinas" class="btn btn-primary">Consultar Rutinas</button>
  <button routerLink="/consultarclases" class="btn btn-primary">Consultar Clases</button>
  <button routerLink="/login" class="btn btn-primary">Cerrar Sesión</button>
</div>
