<div class="clases-container">
    <h1>Clases</h1>
    <div class="form-group">
      <label for="nombreClase">Nombre Clase</label>
      <input type="text" id="nombreClase">
    </div>
    <div class="form-group">
      <label for="area">Área</label>
      <input type="text" id="area">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" id="descripcion">
    </div>
    <div class="form-group">
      <label for="profesor">Profesor</label>
      <input type="text" id="profesor">
    </div>
    <div class="form-group">
      <label for="fecha">Fecha</label>
      <input type="date" id="fecha">
    </div>
    <div class="form-group button-group">
        <button type="sumbit" class="ejercicios-button">Ejercicios</button><input type="text" id="ejercicios" placeholder="132" disabled> 
      </div>
    <button class="btn btn-primary">Guardar</button>
  </div>
  