<!-- src/app/consultar-rutinas.component.html -->
<div class="container">
  <h1>Rutinas</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Comentarios</th>
        <th>Ejercicios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.id }}</td>
        <td>{{ dato.name }}</td>
        <td>{{ dato.remarks }}</td>
        <td>{{ dato.exercises }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="consultar()">Consultar</button>
</div>