<div class="rutina-container">
    <h2>Rutinas</h2>
    <form>
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" id="id" placeholder="1231">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" placeholder="312321">
      </div>
      <div class="form-group">
        <label for="comentarios">Comentarios:</label>
        <textarea id="comentarios" placeholder="3123213"></textarea>
      </div>
      <div class="form-group button-group">
        <button type="sumbit" class="ejercicios-button" routerLink="/listaejercicios" class="btn btn-primary"
        >Ejercicios</button><input type="text" id="ejercicios" placeholder="132" disabled>
      </div>
      <div>
        <button type="submit" class="guardar-button">Guardar</button>
      </div>
    </form>
  </div>
