
<head>
    <title>Iniciar Sesión</title>
<body>
    <div class="login-container">
        <H1>WORKBOT</H1>
        <h2>Iniciar Sesión</h2>
        <form>  

            <label for="user">Nombre De Usuario</label>
            <input type="email" id="user" name="user" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password"  
 name="password" required>

            <button type="submit">Ingresar</button>  

            <a href="/register"><button type="button" routerLink="/register" >Registrarse</button></a>
        </form>
    </div>
</body>
