<div class="container">
    <h1>Lista De Ejercicios</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Series</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ejercicio of ejercicios" [class.selected]="ejercicio.selected" (click)="selectEjercicio(ejercicio)">
          <td>{{ ejercicio.id }}</td>
          <td>{{ ejercicio.nombre }}</td>
          <td>{{ ejercicio.descripcion }}</td>
          <td>{{ ejercicio.series }}</td>
          <td><label>
    <input type="checkbox" [(ngModel)]="ejercicio.selected" [id]="'checkbox-' + ejercicio.id">
    Seleccionar
  </label></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons">
      <button (click)="guardar()">Guardar</button>
      <button (click)="consultar()">Consultar</button>
    </div>
  </div>
