/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 100px;
  background-color: #f5f5f5;
  border-radius: 5px; /* Redondea los bordes del cuerpo de la página */
  background-color: #f4f4f4; /* Color de fondo suave */
    font-family: 'Arial', sans-serif; /* Fuente moderna */
    color: #333; /* Color de texto principal */
}
.p-card{
width: 400px;
height:100%;
}
.field {
    margin-top: 20px;
    margin: 2px 0; /* Espaciado entre los campos */
}
.field input {
    width: 100%; /* Ancho completo */
    padding: 5px; /* Espaciado interno */

    border: 5px solid #ccc; /* Borde suave */
    border-radius: 4px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave para el borde */
}
.field input:focus {
    border-color: #007bff; /* Color de borde en foco */
    outline: none; /* Eliminar el contorno predeterminado */
}
.field-container {
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.field label {
    display: block; /* Hacer que la etiqueta ocupe todo el ancho */
    margin-bottom: 10px; /* Espaciado entre la etiqueta y el campo */
    font-weight: bold; /* Negrita para destacar la etiqueta */
}
.p-button{
  background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 5px 5px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 0px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}
.p-button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}
.p-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}
button{
   border-radius: 7px; /* Ajusta el valor para redondear más o menos */

  padding: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  margin-right: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
textPath{
   border-radius: 7px; /* Ajusta el valor para redondear más o menos */
  background-color: #f1f1f1; /* Color de fondo claro */
  padding: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}
label{
   border-radius: 7px; /* Ajusta el valor para redondear más o menos */
  background-color: #f1f1f1; /* Color de fondo claro */
  padding: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}
form{
   border-radius: 7px; /* Ajusta el valor para redondear más o menos */
  background-color: #f1f1f1; /* Color de fondo claro */
  padding: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

